/***************************
 * Color Pallette with all light colors
 * Red: F14C38
 * White: FFFFFF
 * Grey: CFCFCF
 * Pale Blue: 144955
 **************************/
@font-face {
	font-family: 'Nexa Light';
	src: url(../fonts/nexa_light.otf) format('opentype');
	}
@font-face {
	font-family: 'Nexa Bold';
	font-style: bold;
	src: url(../fonts/nexa_bold.otf) format('opentype');
}
@font-face {
	font-family: "flaticon";
	src: url("../fonts/flaticon/flaticon.eot");
	src: url("../fonts/flaticon/flaticon.eot?#iefix") format("embedded-opentype"),
	url("../fonts/flaticon/flaticon.woff2") format("woff2"),
	url("../fonts/flaticon/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon/flaticon.svg#flaticon") format("svg");
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0;
	margin: 0;
}

/***************************
 * Navigation Bar styling
 ***************************/
 
nav {
	width: 96%;
	padding: 2%;
	margin: 1%;
	margin: 0%;
	z-index: 200;
	background: #fff;
	text-align: right;
	font: 14px 'Nexa Light';
	box-shadow: 1px 1px 1px #CFCFCF;	
	transition: ease all .4s;
}
nav:hover {
	box-shadow: 1px 1px 10px #CFCFCF;
	transition: ease all .4s;	
}

.navbar-logo {
	float: left;
	text-decoration: none;
	font: 16px 'Nexa Bold';
	color: #000;
}
.navbar-item .contact {
	border: 2px solid black;
}

.navbar-item {
	padding: 2%;
	display: inline;
	text-decoration: none;
	color: #000;
	transition: ease all .4s;
}
.navbar-item:hover {
	color: #F14C38;
	transition: ease all .4s;
}


/***************************
 * Body Styling
***************************/
 body {
	z-index: 1;
	height: auto;
	width: 100%;
	font-family: 'Nexa' ;
	text-align: center;

 }
 
 button {
	border: 1px solid #CFCFCF;
	background-color: #FFFFFF;
	font: 16px 'Nexa Light';
	
	padding: 2%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 3%;
	margin-top: 5%;
	min-width: 250px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	transition: ease all .4s;
 }
 
 button:hover {
	box-shadow: 1px 1px 10px #CFCFCF;
	transition: ease all .4s;
 }

.icon {
	font: 18px "flaticon";
	margin-right: 1%;
}

@media all and (min-width: 481px) {
	.header {
		font: 40px 'Nexa Bold';
		text-align: center;
		color: red;
	 }
	 .header:hover {
	 	color: #000000;
	 }
	.centered {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
@media all and (max-width: 480px) {
	.header {
		margin-top: 15%;
		font: 40px 'Nexa Bold';
		text-align: center;
		color: #144955;
	 }
	 .header:hover {
	 	color: #000000;
	 }
}
