/***************************
 * Color Pallette with all light colors

 **************************/


* {
	padding: 0;
	margin: 0;
}

/***************************
 * Navigation Bar styling
 ***************************/
 
nav {
	width: 95%;
	padding: 2%;
	margin: 1%;
	margin: 0%;
	z-index: 200;
	text-align: right;
	box-shadow: 2px 3px 5px #f0f0f0;	
}
.navbar-logo {
	text-decoration: none;
	float: left;
	color: #000;
}

.navbar-item {
	padding: 2%;
	text-decoration: none;
	color: #000;
	transition: ease all .3s;
}
.navbar-item:hover {
	background-color: #F0f0F0;
	transition: ease all .3s;
}


/***************************
 * Body Styling
 ***************************/
 .main-body {
	z-index: 10;
 }
 .header-container, .header {
	padding: 1%;
	text-align: center;
 }

