/***************************
 * Color Pallette with all light colors
 * Red: F14C38
 * White: FFFFFF
 * Grey: CFCFCF
 * Pale Blue: 144955
 **************************/
@import 'https://fonts.googleapis.com/css?family=Maven+Pro|Dancing+Script';

* {
	padding: 0;
	margin: 0;
}

/***************************
 * Navigation Bar styling
 ***************************/
 
nav {
	width: 96%;
	padding: 2%;
	margin: 1%;
	margin: 0%;
	z-index: 200;
	text-align: right;
	font: 14px 'Maven Pro';
	box-shadow: 1px 1px 1px #CFCFCF;	
	transition: ease all .4s;
}
nav:hover {
	box-shadow: 1px 1px 10px #CFCFCF;
	transition: ease all .4s;	
}

.navbar-logo {
	float: left;
	text-decoration: none;
	color: #000;
}
.navbar-item .contact {
	border: 2px solid black;
}

.navbar-item {
	padding: 2%;
	text-decoration: none;
	color: #000;
	transition: ease all .4s;
}
.navbar-item:hover {
	color: #F14C38;
	transition: ease all .4s;
}


/***************************
 * Body Styling
***************************/
 .main-body {
	z-index: 10;
	height: auto;
	width: 100%;
	font: 14px 'Maven Pro';
	text-align: center;
 }
 
 button {
	border: 2px solid black;
	padding: 2%;
	padding-left: 4%;
	padding-right: 4%;
	background-color: #fff;
	margin: 3%;
	border-radius: 50px;
	border-bottom-right-radius: 90%;
	border-top-left-radius: 90%;
	min-width: 180px;
	font: 14px 'Maven Pro';
	transition: ease all .4s;
 }
 
 button:hover {
	border: 2px solid #F14C38;
	transition: ease all .4s;
 }
 .header {
	margin-top: 10%;
	font: 32px 'Dancing Script';
	text-align: center;
 }
.centered {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 }

